
*{
    margin: 0;
    padding :0;
}

.clearfix::after{
    content:"";
    display:block;
    clear: both;

}
img{
    max-width:100%;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


/* header css*/
.fixed-width{
     max-width: 1100px;
     margin: auto;
}
.header{
    background: #3498db;
}
.header-left{
    float: left;;
    width: 30%;
    
}
.header-left img{
    width: 84px;
    height: auto;
}
.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-right ul li a{
 display: block;
text-decoration: none;
font-size: 18px;
color: #fff;
padding: 0 27px;
line-height: 74px;
border-right: 1px solid #fff;
}
.header-right ul li a:hover{
    background-color: #2980b9;
    transition: .5s;
}


/*banner section*/
 

.banner{
    background: url(img/banner.jpg) no-repeat center;
    padding: 200px 0;
    background-size: cover;
}

.banner-caption{
    text-align: center;
}

.banner-caption h1 {
    background: rgba\(52,152,219,0.6;
    background: #2F8FD8;
    background: rgba();
    background: rgba(41, 146, 224, 0.6);
    color: #fff;
    max-width: 350px;
    margin: auto;
        margin-top: auto;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 5pc;
    margin-top: 10px;
}
 .banner-caption h2 {
        background: aliceblue aliceblue(0,0 aliceblue,.5);
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        display: inline-block;
        font-size: 22px;
        padding: 10px 20px;
        border-radius: 5pc;
    }

    
    /*About section*/
    .about{
        text-align: center;
        margin-top: 10px;
      
    }
    .about h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .about p {
        max-width: 500px;
        font-size: 20px;
        margin: auto;
    }   

    /*service section*/

     
.service{
    margin-top:60px;
}
.service-item{
    width: 31.3%;
    float: left;
    text-align: center;
    border: 1px solid #ddd;
    padding: 25px 14px;
    text-decoration: justify;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
     
}
.service-item span{
    display: block;
    height: 60px;
    width: 60px;
    background: #3498db;
    color: #ecf0f1;
    margin: auto;
    font-size: 36px;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
}
.service-item h3{
    margin: 20px 0;
    font-size: 27px;
}
.service-item p{}



      /*blog section*/
    
      .blog-container{
          margin: 50px 0;
      }
    .blog-left-content{
        float: left;
        width: 70%;
    }
    .blog-left-noti{
        float: right;
        width: 25%;
    }
    .blog-item img{
        width: 160px;
        height: auto;
        float: left;
        margin-right: 15px;
    }
    .blog-item {
        margin-bottom: 30px;
    }

    /*blog notification*/

    .blog-left-noti{}
    .blog-left-noti h2{
        font-size: 24px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding:10px;

    }
    .blog-left-noti ul{
        list-style: none;
    }
    .blog-left-noti ul li{
        border: 1px solid #ddd;
        background: #fafafa;
        padding: 10px;
        font-size:15px;
        margin-bottom:9px ;
        border-radius: 5px;
    }
    /*footer section*/
    .footer  {
        background:#2c3e50 ;
        color: #dddddd;
        padding: 15px 0;
         
    }
    .footer-left{
        float: left;
        width :40%;
    }
    .footer-right{
        float: right;
        width :60%;
    }

    .social-menu{
        text-align: right;  
    }
    .social-menu li{
        display:inline-block;
         
    }
    .social-menu li a{
     color: #fff;
     font-size: 15px;
     margin-left: 15px;  
      
    }
    .social-menu li a:hover{}